@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "GMV_DIN_PRO-Black_Italic";
  src: url("/fonts/GMV_DIN_Pro-Black_Italic.ttf") format("truetype");
}

@font-face {
  font-family: "GMV_DIN_PRO-Black";
  src: url("/fonts/GMV_DIN_Pro-Black.ttf") format("truetype");
}

@font-face {
  font-family: "GMV_DIN_PRO-Bold_Italic";
  src: url("/fonts/GMV_DIN_Pro-Bold_Italic.ttf") format("truetype");
}

@font-face {
  font-family: "GMV_DIN_PRO-Bold";
  src: url("/fonts/GMV_DIN_Pro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "GMV_DIN_PRO-Exllight_Italic";
  src: url("/fonts/GMV_DIN_Pro-Extlight_Italic.ttf") format("truetype");
}

@font-face {
  font-family: "GMV_DIN_PRO-Exlight";
  src: url("/fonts/GMV_DIN_Pro-Extlight.ttf") format("truetype");
}

@font-face {
  font-family: "GMV_DIN_PRO-Italic";
  src: url("/fonts/GMV_DIN_Pro-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "GMV_DIN_PRO-Light_Italic";
  src: url("/fonts/GMV_DIN_Pro-Light_Italic.ttf") format("truetype");
}

@font-face {
  font-family: "GMV_DIN_PRO-Light";
  src: url("/fonts/GMV_DIN_Pro-Light.ttf") format("truetype");
}

@font-face {
  font-family: "GMV_DIN_PRO-Medium_Italic";
  src: url("/fonts/GMV_DIN_Pro-Medium_Italic.ttf") format("truetype");
}

@font-face {
  font-family: "GMV_DIN_PRO-Medium";
  src: url("/fonts/GMV_DIN_Pro-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "GMV_DIN_Pro-Thin_Italic";
  src: url("/fonts/GMV_DIN_Pro-Thin_Italic.ttf") format("truetype");
}

@font-face {
  font-family: "GMV_DIN_Pro-Thin";
  src: url("/fonts/GMV_DIN_Pro-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "GMV_DIN_Pro-Thin_Italic";
  src: url("/fonts/GMV_DIN_Pro-Thin_Italic.ttf") format("truetype");
}

@font-face {
  font-family: "GMV_DIN_Pro";
  src: url("/fonts/GMV_DIN_Pro.ttf") format("truetype");
}

@font-face {
  font-family: "GS3_Druk_Heavy_Italic";
  src: url("/fonts/GS3 Druk Heavy Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "GS3_Druk_Heavy";
  src: url("/fonts/GS3 Druk Heavy.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tungsten";
  src: url("/fonts/Tungsten-Bold.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MyriadPro-Regular";
  src: url("/fonts/Myriad Pro Regular.ttf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.trans-line {
  background: linear-gradient(
    90deg,
    rgba(30, 87, 153, 0) 0,
    rgba(201, 255, 70, 0.98) 50%,
    #cbfe42 51%,
    hsla(140, 5%, 89%, 0) 99%,
    hsla(0, 0%, 90%, 0)
  );
}

.trans-line-pb {
  background: linear-gradient(
    90deg,
    rgba(30, 87, 153, 0) 0,
    rgba(175, 70, 255, 0.98) 50%,
    #8c4aed 51%,
    hsla(140, 5%, 89%, 0) 99%,
    hsla(0, 0%, 90%, 0)
  );
}

.bg-vGreen {
  --tw-bg-opacity: 1;
  background-color: rgb(201 255 70 / var(--tw-bg-opacity));
}

.bullet-right {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 30% 100%, 0 50%, 30% 0);
  clip-path: polygon(100% 0, 100% 100%, 30% 100%, 0 50%, 30% 0);
}

.bullet-left {
  -webkit-clip-path: polygon(70% 0, 100% 50%, 70% 100%, 0 100%, 0 0);
  clip-path: polygon(70% 0, 100% 50%, 70% 100%, 0 100%, 0 0);
}

.play-button::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 50%;
  top: -0.7rem;
  margin: auto;
  left: -1rem;
  right: -1rem;
  border: #cbfe42 solid 1.3px;
  border-bottom: none;
}

.play-button::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 50%;
  bottom: -0.7rem;
  margin: auto;
  left: -1rem;
  right: -1rem;
  border: #cbfe42 solid 1.3px;
  border-top: none;
}

.button-text::before {
  content: "";
  position: absolute;
  width: 145%;
  height: 215%;
  top: -1rem;
  left: -38px;
  border: #cbfe42 solid 1.3px;
  border-right: none;
  border-top-left-radius: 3px;
}

.button-text::after {
  content: "";
  position: absolute;
  width: 150%;
  height: 200%;
  top: -1rem;
  left: -2.85rem;
  border-right: #cbfe42 solid 1.3px;
  /* border-right: none; */
  border-top-left-radius: 3px;
}

.play-button-pb::before {
  content: "";
  position: absolute;
  width: 110%;
  height: 50%;
  top: -0.7rem;
  margin: auto;
  left: -1rem;
  right: -1rem;
  border: #8c4aed solid 1.3px;
  border-bottom: none;
}

.play-button-pb::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 50%;
  bottom: -0.7rem;
  margin: auto;
  left: -1rem;
  right: -1rem;
  border: #8c4aed solid 1.3px;
  border-top: none;
}

.button-text-pb::before {
  content: "";
  position: absolute;
  width: 145%;
  height: 215%;
  top: -1rem;
  left: -38px;
  border: #8c4aed solid 1.3px;
  border-right: none;
  border-top-left-radius: 3px;
}

.button-text-pb::after {
  content: "";
  position: absolute;
  width: 150%;
  height: 200%;
  top: -1rem;
  left: -2.85rem;
  border-right: #8c4aed solid 1.3px;
  /* border-right: none; */
  border-top-left-radius: 3px;
}

.hover-animation {
  background: linear-gradient(45deg, #ff4655 50%, transparent 50%);
  background-size: 200% 200%;
  z-index: 10;
  animation: placeholderShimmer 0.2s linear forwards;
}
@keyframes placeholderShimmer {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 100%;
  }
}

.hover-animation-pb {
  background: linear-gradient(45deg, #fff 50%, transparent 50%);
  background-size: 200% 200%;
  z-index: 10;
  animation: placeholderShimmer 0.2s linear forwards;
}
@keyframes placeholderShimmer {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 100%;
  }
}

.custom-border {
  /* border-radius:  51% 49% 49% 51%/ 3% 3% 0% 0%; */
  border-radius: 215px 215px 215px 215px / 24px 24px 24px 24px;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.88);
-webkit-box-shadow: 0px 0px 285px 74px rgba(0,0,0,0.88);
-moz-box-shadow: 0px 0px 285px 74px rgba(0,0,0,0.88);
}

.custom-border-frame5 {
  border-radius: 125px 125px 0px 0px / 24px 24px 24px 24px;
}

.custom-box-shadow {
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.88);
  -webkit-box-shadow: 0px 0px 285px 74px rgba(0,0,0,0.88);
  -moz-box-shadow: 0px 0px 285px 74px rgba(0,0,0,0.88);
}

.custom-border-frame1 {
  border-radius: 0px 0px 125px 125px / 24px 24px 24px 24px;
  box-shadow: -5px 200px 224px -21px rgba(0, 0, 0, 0.425);
  -webkit-box-shadow: -5px 200px 224px -21px rgba(0, 0, 0, 0.425);
  -moz-box-shadow: -5px 200px 224px -21px rgba(0, 0, 0, 0.425);
}
.slider-wrapper {
  border-radius: 125px 125px 0px 0px / 24px 24px 24px 24px;
}

.rounded-none .slider-wrapper {
  border-radius: 0px;
}